In [64]:
import pandas as pd
import numpy as np
# import cv2
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
import json
import os
import shutil

In [2]:
random_seed = 42

# DDTI

In [51]:
dataset_name = "DDTI dataset/"

In [52]:
csv_file = pd.read_csv(dataset_name + "DDTI/2_preprocessed_data/train.csv")

In [53]:
ID = []
for i in range(len(csv_file["ID"])):
    id = csv_file["ID"][i].split(".")[0]
    ID.append(id)

In [54]:
shuffle_ID = shuffle(ID, random_state = random_seed)

In [55]:
test_ID = shuffle_ID

In [56]:
DDTI_test_df = pd.DataFrame(test_ID, columns = ["ID"])
DDTI_test_df["dataset"] = "DDTI"

In [57]:
DDTI_test_df

        ID dataset
0    20084    DDTI
1    20024    DDTI
2    10050    DDTI
3      346    DDTI
4      342    DDTI
..     ...     ...
632  10129    DDTI
633  10188    DDTI
634  20099    DDTI
635    271    DDTI
636  10182    DDTI

[637 rows x 2 columns]

In [58]:
image_dir_path = dataset_name + "DDTI/2_preprocessed_data/stage2/p_image/"

In [67]:
for i in range(len(DDTI_test_df)):
    image_path = image_dir_path + DDTI_test_df["ID"][i] + ".png"
    dst_file = f'YOLO_data/images/test/DDTI_{DDTI_test_df["ID"][i]}.png'
    if os.path.exists(image_path):
        # print("exists")
        shutil.copy(image_path, dst_file)
        pass
    else:
        print("not exists")
    # print(image_path)
    # break

In [68]:
mask_dir_path = dataset_name + "DDTI/2_preprocessed_data/stage2/p_mask/"

In [69]:
for i in range(len(DDTI_test_df)):
    mask_path = mask_dir_path + DDTI_test_df["ID"][i] + ".png"
    dst_file = f'YOLO_data/masks/test/DDTI_{DDTI_test_df["ID"][i]}.png'
    if os.path.exists(mask_path):
        # print("exists")
        shutil.copy(mask_path, dst_file)
        pass
    else:
        print("not exists")
    # print(image_path)
    # break

In [109]:
len(DDTI_test_df)

637

# TG3K

In [70]:
dataset_name = "tg3k/"

In [71]:
# Open and load the JSON file
with open(dataset_name + 'tg3k-trainval.json', 'r') as file:
    tg3k_data = json.load(file)

In [72]:
len(tg3k_data["train"])

3226

In [73]:
train_ID = tg3k_data["train"] + tg3k_data["val"]
print(len(train_ID))

3585

In [74]:
shuffle_val_test_ID = shuffle(train_ID, random_state = random_seed)

In [75]:
TG3K_train_df = pd.DataFrame(train_ID, columns = ["ID"])
TG3K_train_df["dataset"] = "TG3K"

In [86]:
image_dir_path = dataset_name + "thyroid-image/"
print(image_dir_path)

tg3k/thyroid-image/

In [89]:
for i in range(len(TG3K_train_df)):
    ID = TG3K_train_df["ID"][i]
    ID = str(ID).zfill(4)
    image_path = image_dir_path + ID + ".jpg"
    dst_file = f'YOLO_data/images/train/TG3K_{TG3K_train_df["ID"][i]}.jpg'
    # print(image_path)
    # print(dst_file)
    if os.path.exists(image_path):
        # print("exists")
        shutil.copy(image_path, dst_file)
        pass
    else:
        print("not exists")
    # print(image_path)
    # break

In [90]:
mask_dir_path = dataset_name + "thyroid-mask/"
print(mask_dir_path)

tg3k/thyroid-mask/

In [91]:
for i in range(len(TG3K_train_df)):
    ID = TG3K_train_df["ID"][i]
    ID = str(ID).zfill(4)
    mask_path = mask_dir_path + ID + ".jpg"
    dst_file = f'YOLO_data/masks/train/TG3K_{TG3K_train_df["ID"][i]}.jpg'
    # print(image_path)
    # print(dst_file)
    if os.path.exists(mask_path):
        # print("exists")
        shutil.copy(mask_path, dst_file)
        pass
    else:
        print("not exists")
    # print(image_path)
    # break

# TN3K

In [92]:
dataset_name = "tn3k/"

In [93]:
# Open and load the JSON file
with open(dataset_name + 'tn3k-trainval-fold0.json', 'r') as file:
    tn3k_data = json.load(file)

In [94]:
train_ID = tn3k_data["train"] + tn3k_data["val"]

In [95]:
test_dir = os.listdir(dataset_name + "test-image")

In [96]:
test_ID = []
for i in range(len(test_dir)):
    id = test_dir[i].split(".")[0]
    test_ID.append(id)

In [97]:
print(len(train_ID), len(test_ID))

2879 614

In [98]:
TN3K_train_df = pd.DataFrame(train_ID, columns = ["ID"])
TN3K_train_df["dataset"] = "TN3K"


TN3K_test_df = pd.DataFrame(test_ID, columns = ["ID"])
TN3K_test_df["dataset"] = "TN3K"

In [99]:
image_dir_path = dataset_name + "trainval-image/"
print(image_dir_path)

tn3k/trainval-image/

In [100]:
for i in range(len(TN3K_train_df)):
    ID = TN3K_train_df["ID"][i]
    ID = str(ID).zfill(4)
    image_path = image_dir_path + ID + ".jpg"
    dst_file = f'YOLO_data/images/train/TN3K_{TN3K_train_df["ID"][i]}.jpg'
    # print(image_path)
    # print(dst_file)
    if os.path.exists(image_path):
        # print("exists")
        shutil.copy(image_path, dst_file)
        pass
    else:
        print("not exists")
    # print(image_path)
    # break

In [101]:
image_dir_path = dataset_name + "test-image/"
print(image_dir_path)

tn3k/test-image/

In [102]:
for i in range(len(TN3K_test_df)):
    ID = TN3K_test_df["ID"][i]
    ID = str(ID).zfill(4)
    image_path = image_dir_path + ID + ".jpg"
    dst_file = f'YOLO_data/images/test/TN3K_{TN3K_test_df["ID"][i]}.jpg'
    # print(image_path)
    # print(dst_file)
    if os.path.exists(image_path):
        # print("exists")
        shutil.copy(image_path, dst_file)
        pass
    else:
        print("not exists")
    # print(image_path)
    # break

In [110]:
len(TN3K_test_df)

614

In [103]:
mask_dir_path = dataset_name + "trainval-mask/"
print(mask_dir_path)

tn3k/trainval-mask/

In [104]:
for i in range(len(TN3K_train_df)):
    ID = TN3K_train_df["ID"][i]
    ID = str(ID).zfill(4)
    mask_path = mask_dir_path + ID + ".jpg"
    dst_file = f'YOLO_data/masks/train/TN3K_{TN3K_train_df["ID"][i]}.jpg'
    # print(image_path)
    # print(dst_file)
    if os.path.exists(mask_path):
        # print("exists")
        shutil.copy(mask_path, dst_file)
        pass
    else:
        print("not exists")
    # print(image_path)
    # break

In [105]:
mask_dir_path = dataset_name + "test-mask/"
print(mask_dir_path)

tn3k/test-mask/

In [106]:
for i in range(len(TN3K_test_df)):
    ID = TN3K_test_df["ID"][i]
    ID = str(ID).zfill(4)
    mask_path = mask_dir_path + ID + ".jpg"
    dst_file = f'YOLO_data/masks/test/TN3K_{TN3K_test_df["ID"][i]}.jpg'
    # print(image_path)
    # print(dst_file)
    if os.path.exists(mask_path):
        # print("exists")
        shutil.copy(mask_path, dst_file)
        pass
    else:
        print("not exists")
    # print(image_path)
    # break

# Concate all df

In [39]:
total_train_df = pd.concat([TG3K_train_df, TN3K_train_df])
shuffle_total_train_df = shuffle(total_train_df, random_state = random_seed).reset_index(drop=True)

In [40]:
total_test_df = pd.concat([DDTI_test_df, TN3K_test_df])
shuffle_total_test_df = shuffle(total_test_df, random_state = random_seed).reset_index(drop=True)

In [41]:
shuffle_total_train_df.to_csv("train_v2.csv", index = False)

In [42]:
shuffle_total_test_df.to_csv("test_v2.csv", index = False)

In [43]:
print(len(shuffle_total_train_df))

6464

In [44]:
print(len(shuffle_total_test_df))

1251

In [107]:
YOLO_train_images = os.listdir("YOLO_data/images/train")
print(len(YOLO_train_images))

6464

In [108]:
YOLO_test_images = os.listdir("YOLO_data/images/test")
print(len(YOLO_test_images))

1252

In [112]:
YOLO_test_images

'TN3K_0613.jpg'

In [127]:
count = 0
for i in range(len(YOLO_test_images)):
    if not "TN3K" in YOLO_test_images[i] and not "DDTI" in YOLO_test_images[i]:
        # shutil.rmtree(YOLO_test_images[i])
        print(YOLO_test_images[i])
        count+=1
print(count)

.ipynb_checkpoints
1